@model List<SistemaVendas.Context.Tb_SegmentoEmpresa>

@{
    ViewBag.Title = "Lista de Segmento de Empresas";
}

<h2>Lista de Segmento de Empresas</h2>

<div class="row">
    <div class="col-lg-12">
        <table class="table-striped table-responsive table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>Id do Segmento da Empresa</th>
                    <th>Id da Empresa</th>
                    <th>Descrição</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdSegmentoEmpresa</td>
                        <td>@item.IdEmpresa</td>
                        <td>@item.DesSegmento</td>
                        <td>@(item.Ativo ? "Sim" : "Não")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>